<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "logo.png" %>
  </div>

  <div id="content">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quo soluta, cumque neque esse dignissimos dolor numquam </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, vel ex dicta est numquam, sed laudantium ullam aut vitae voluptatum eos consequatur molestiae dignissimos sint quo ut iste ad! Rerum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam eos ut recusandae doloribus accusantium, deserunt dolores placeat quasi voluptatum, blanditiis, velit temporibus. Delectus qui hic, illum, asperiores quibusdam magni iste.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui pariatur ad, recusandae! Itaque illum consectetur, quidem nemo. Atque, ipsa laboriosam totam, exercitationem quae, fugit nulla magnam tempora doloribus rem sed.</p>
  </div>
</div>
